* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 0;
    outline: none;
}

button {
    width: 190px;
    height: 40px;
    margin: 10px;
    background-color: #4e65ff;
    color: #fff;
    border: none;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    border-radius: 4px;
}

button::before {
    content: '';
    width: 190px;
    height: 190px;
    position: absolute;
    left: calc(100% * var(--xdistance));
    top: calc(100% * var(--ydistance));
    transform: translate(-50%, -50%) scale(1);
    background-color: #e2ecff;
    border-radius: 50%;
    opacity: 0;
    transition: all .9s ease-in-out;
}
button:active{
    border: none !important;
}
button:active::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
    transition: 0s !important;
}